# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]
# Port or socket location where to connect
# port = 3306
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/



[mysqld]
query_cache_limit          = 32M
query_cache_size           = 256M
aria_pagecache_buffer_size = 512M
key_buffer_size            = 64K
back_log                   = 900
thread_handling            = pool-of-threads
innodb_buffer_pool_size    = 8G
innodb_lock_wait_timeout   = 300
innodb_log_file_size       = 100M
join_buffer_size           = 16M
bind-address               = 127.0.0.1
local-infile               = 0
symbolic-links             = 0
default_password_lifetime  = 0
binlog_expire_logs_seconds = 2592000
ssl-ca                     = /etc/ssl/certs/mysql/ssl-ca.crt
ssl-cert                   = /etc/ssl/certs/mysql/ssl-cert.crt
ssl-key                    = /etc/ssl/private/mysql/ssl-key.key
require_secure_transport   = ON
log_error                  = /mnt/WEBSERVER_LOGS/mysql/mysql_error.log
general_log_file           = /mnt/WEBSERVER_LOGS/mysql/mysql_general.log
log-warnings               = 2



[mysqld_safe]
open_files_limit           = 4294967295
